a:link { text-decoration: none; color: black; }
a:visited { text-decoration: none; color: black; }
a:hover { text-decoration: none; color: black; }
a:active { text-decoration: none; color: black; }

* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'SoMeFlOwErS';
    src: url('./fonts/SoMeFlOwErS.woff2') format('woff2'),
        url('./fonts/SoMeFlOwErS.woff') format('woff');
}

@font-face {
    font-family: 'Blazed';
    src: url('./fonts/Blazed.woff2') format('woff2');
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('./fonts/Raleway-Medium.woff') format('woff'),
    	url('./fonts/Raleway-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('./fonts/Raleway-Regular.woff') format('woff'),
    	url('./fonts/Raleway-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Retrolight';
    src: url('./fonts/Retrolight.woff') format('woff'),
    	url('./fonts/Retrolight.woff2') format('woff2');
}
	


/* ----------------------------------------------------------- */

		/*					HOME PAGE					 */

/* ----------------------------------------------------------- */

#home_event {
	display: flex;
	width: 100vw;
	height: 50vh;
	background-color: lightcoral;
	justify-content: center;
	align-items: center;
	font-size: 175px;
	font-family: "SoMeFlOwErS", sans-serif;
	color: black;
}

#home_user {
	display: flex;
	width: 100vw;
	height: 50vh;
	background-color: rgb(168, 167, 243);
	justify-content: center;
	align-items: center;
	font-size: 175px;
	font-family: "SoMeFlOwErS", sans-serif;
	color: black;
}


/* --------------------------------------------------------- */

/*							EVENT PAGE						 */

/* --------------------------------------------------------- */


#event_page {
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
	color: rgb(202, 31, 31);
	font-family: 'Raleway-Regular', serif;
}

#event_page #title {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
	font-size: 125px;
	line-height: 90%;
	font-family: 'Blazed', serif;
}

#event_page #info {
	margin-top: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
}

#event_page #table {
	margin-top: 40px;
	border-collapse: collapse;
	width: 100%;
}

#table td, #table th {
	border: 1px solid rgb(184, 28, 28);
	padding: 8px;
}

#table tr:nth-child(even) {
	background-color: #f2f2f2;
}

#table tr:hover {
	background-color: #ddd;
}

#table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: white;
	color: rgb(202, 31, 31);
}

.white_cube {
	margin: 350px;
}

.link_event {
	color:  rgb(202, 31, 31)!important;
	font-style: italic;
}

#event_page p {
	margin-top: 30px;
	font-size: larger;
	position: sticky;
	display: flex;
	justify-content: center;
}


/* ----------------------------------------------------------- */

		/*				DRINK PAGE					 */

/* ----------------------------------------------------------- */

#drink_page {
	background-color: blue;
	height: 100vh;
	color: white;
	font-family: 'Raleway-Regular', serif;
}

#drink_title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Retrolight';
	font-size: 175px;
	font-weight: 100;
	/* background-color: blue; */
}

.scan_table {
	margin-top: 40px;
	border-collapse: collapse;
	width: 100%;
}

.scan_table td, .scan_table th {
	border: 1px solid white;
	padding: 8px;
}

.scan_table tr:nth-child(even) {
	background-color: #d26aff;
}

.scan_table tr:hover {
	background-color: rgb(164, 214, 99);
}

.scan_table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: blue;
	color: white;
}

.link_drink {
	color: white !important;
	font-style: italic;
}

#drink_page p {
	position: sticky;
	display: flex;
	justify-content: center;
}

.blue_cube {
	margin: 440px;
	color: blue;
	background-color: blue;
}